*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
        width: 200px;
        height: 100vh;
        border: 1px solid black;
        position: fixed;
        transition: 2s;
}
header{
    /* width: 100%; */
    height: 120px;
    border: 1px solid black;
    position: sticky;
    top: 0;
    margin-left: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 2s;
}
.logo img{
    width: 100px;
    height: 100px;
}
.logo{
    width: 100%;
    height: 120px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pro{
    width: 100%;
    border: 1px solid black;
}
.profile img{
    width: 60px;
    height: 60px;
}
nav{
    width: 100%;
    height: 400px;
    border: 1px solid black;
}
nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li {
    list-style: none;
    font-size: 20px;
}
.search{
    width: 30%;
    height: 120px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search input{
    width: 60%;
    height: 30px;
    border-radius: 30px;
}
.fa-magnifying-glass{
    position: absolute;
    right: 90px;
}
.icon{
    width: 10%;
    height: 120px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
}
.ic1{
    width: 30%;
    height: 120px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}
.a{
    margin-left: -200px;
    transition: 2s;
}
.am{
    margin-left: 0;
    transition: 2s;
}